<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>アンチ二次元同盟(仮)</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        $body$
        <div class="main-text container">
            <hr class="head-divider"></hr>
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2015 Anti-Semiconductor.</p>
            </footer>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javastript" src="js/carousel.js"></script>
    </body>
</html>
